@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'arial', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Общие классы */
.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.upper-case {
  text-transform: uppercase;
}

.btn-common:focus,
.btn-common:hover {
  color: var(--accent-color);
}

.btn-common {
  padding: 6px 22px;
  min-height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  border: none;
  border-radius: 4px;
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
  background-color: var(--bg-btn-filtr);
}

.btn-accent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.active-menu {
  position: relative;
  color: var(--accent-color);
}

.active-menu::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.icon {
  fill: currentColor;
  color: #afb1b8;
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}

.logo--color {
  color: var(--accent-color);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.navigation__item--padding {
  padding: 28px 0;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  color: #757575;
  margin-right: 10px;
}

.icon__envelope:hover .icon__envelope--accent,
.icon__envelope:focus .icon__envelope--accent {
  color: var(--accent-color);
}

.icon__telephone:hover .icon__telephone--accent,
.icon__telephone:focus .icon__telephone--accent {
  color: var(--accent-color);
}

.page-header {
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-header__logo {
  margin-right: 93px;
  color: #000000;
}

.page-footer__join {
  -ms-flex-preferred-size: 206px;
  flex-basis: 206px;
  margin-left: 70px;
}

.page-footer__join .social-links {
  margin-top: 20px;
}

.page-footer__join .social-links__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

/*  ---Блок подпишитесь на рассылку--- */
.page-footer__subscribe {
  -ms-flex-preferred-size: 570px;
  flex-basis: 570px;
  margin-left: 93px;
}

.subscribe__form {
  position: relative;
  margin-top: 20px;
}

.subscribe__field {
  padding-left: 79px;
  width: 358px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.subscribe__label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(16px, 15px);
  transform: translate(16px, 15px);
}

.subscribe__text {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.icon__send--position {
  margin-left: 10px;
}

.page-footer {
  padding: 60px 0;
  background-color: var(--bg-secondary-color);
}

.page-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.page-footer .icon {
  color: #ffffff;
}

.page-footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  color: #ffffff;
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-map {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */
