:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #2f303a;
  --bg-btn-filtr: #f5f4fa;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'arial', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Общие классы */

.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--duration) var(--timing-function);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.upper-case {
  text-transform: uppercase;
}

.btn-common:focus,
.btn-common:hover {
  color: var(--accent-color);
}

.btn-common {
  padding: 6px 22px;
  min-height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  border: none;
  border-radius: 4px;
  transition: color var(--duration) var(--timing-function);
  background-color: var(--bg-btn-filtr);
}

.btn-accent {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.active-menu {
  position: relative;
  color: var(--accent-color);
}
.active-menu::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.icon {
  fill: currentColor;
  color: #afb1b8;
  transition: color var(--duration) var(--timing-function);
}

/* --------------------------------------------------------------------------------------------------- */
/* ---Хедер и футер--- */
/* ---Хедер--- */
.page-header {
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.page-header__container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
}

/* ---Общие классы для лого--- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}

.logo--color {
  color: var(--accent-color);
}

/* ---Лого--- */
.page-header__logo {
  margin-right: 93px;
  color: #000000;
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

/* ---Навигация--- */
.navigation {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.navigation__item--padding {
  padding: 28px 0;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

/* ---Общие классы для контактов--- */
/* .contact {
  font-size: 14px;
} */

/* ---Контакты шапка--- */
.contact {
  display: flex;
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
}

.contact__item {
  display: flex;
  align-items: center;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  display: flex;
  align-items: center;
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  color: #757575;
  margin-right: 10px;
}

.icon__envelope:hover .icon__envelope--accent,
.icon__envelope:focus .icon__envelope--accent {
  color: var(--accent-color);
}

.icon__telephone:hover .icon__telephone--accent,
.icon__telephone:focus .icon__telephone--accent {
  color: var(--accent-color);
}
}
/* ---Контакты футер--- */
.foot-contact {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0, 6);
}

.foot-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-map {
  color: #ffffff;
}

/* ---Футер--- */
.foot {
  padding: 60px 0;
  background-color: var(--bg-secondary-color);
}

.foot .container {
  display: flex;
  align-items: baseline;
}

.foot-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  color: #ffffff;
}

.foot .icon {
  color: #ffffff;
}

/*  ---Блок присоединяйтесь--- */
.foot-block-join {
  flex-basis: 206px;
  margin-left: 70px;
}

.foot .block-icons {
  margin-top: 20px;
}

.foot .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

/*  ---Блок подпишитесь на рассылку--- */
.subscribe-block {
  flex-basis: 570px;
  margin-left: 93px;
}

.subscribe-form {
  position: relative;
  margin-top: 20px;
}

.subscribe-field {
  padding-left: 79px;
  width: 358px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.subscribe-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(16px, 15px);
}

.subscribe-field-text {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  margin-left: 10px;
}

/* ---------------------------------------------------------------------------------------------- */
/* ---Страница студия--- */
/* ---Баннер--- */
.banner {
  display: flex;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/banner.jpg');
  background-position: center;
  background-size: cover;
  background-color: var(--bg-secondary-color);
}

.banner__slogan {
  max-width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.banner .btn-accent {
  margin-top: 30px;
}

/* ---Общее для секций--- */

.studio-title-h2 {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.studio-title-h3 {
  font-size: 14px;
  line-height: 1.17;
  color: var(--title-text-color);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.cards__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

/* ---Наши преимущества--- */
.section-advantages {
  padding-bottom: 0px;
}

.section-advantages .cards__item {
  flex-basis: calc((100% - 120px) / 4);
}

.section-advantages__cards-block {
  padding: 25px 0;
  margin-bottom: 30px;
  max-width: 270px;
  text-align: center;
  background-color: var(--bg-btn-filtr);
}

.section-advantages__cards-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
}

/* ---Чем мы занимаемся--- */
.section-working__cards--position {
  position: relative;
}

.section-working__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-working__studio-title-h3--color {
  color: #ffffff;
}

/* ---Наша команда--- */
.team {
  background-color: #f5f4fa;
}

.team .cards__item {
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.team-text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
}

.team-content {
  padding: 30px 32px;
}

.block-icons {
  display: flex;
  margin: 0 auto;
}

.block-social-link:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--duration) var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-link:hover .icon,
.social-link:focus .icon {
  color: #ffffff;
}

.instagram {
  width: 20px;
  height: 20px;
}

.twitter {
  width: 20px;
  height: 16.25px;
}

.facebook {
  width: 10px;
  height: 20px;
}

.linkedin {
  width: 20px;
  height: 20px;
}

/* ---Постоянные клиенты--- */
.clients .cards__item {
  flex-basis: calc((100% - 180px) / 6);
}

.clients-link {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  color: var(--accent-color);
}

/* ---------------------------------------------------------------------------------------------- */
/* ---Страница портфолио--- */
/* ---Общие классы---- */
.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.portfolio-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: #ffffff;
}

/* ---Фильтр---- */
.filtr {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtr-btn {
  transition: box-shadow var(--duration) var(--timing-function);
}

.filtr-item:not(:last-child) {
  margin-right: 8px;
}

.filtr-btn:hover,
.filtr-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---Содержание---- */
.portfolio .cards__item {
  transition: box-shadow var(--duration) var(--timing-function);
}

.portfolio-block-img {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb {
  position: absolute;
  top: 100%;
  left: 0;
  transition: transform var(--duration) var(--timing-function);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
}

.portfolio-link:hover .portfolio-card,
.portfolio-link:focus .portfolio-card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-thumb,
.portfolio-link:focus .portfolio-thumb {
  transform: translateY(-100%);
}
/* ---Модальное окно--- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity, visibility, transform 1000ms, 1000ms,
    1000ms var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0) rotate(-360deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: transform var(--duration) var(--timing-function);
  outline: none;
}

.icon-close {
  color: #000000;
}

.modal-btn:hover .icon-close,
.modal-btn:focus .icon-close {
  color: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}
.modal-list {
  margin-bottom: 20px;
}

.modal-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form-label {
  position: relative;
}

.modal-field {
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: transform var(--duration) var(--timing-function);
  outline: none;
}

.modal-field:focus {
  border: 1px solid var(--accent-color);
}

.modal-field:focus + .modal-form-icon {
  color: var(--accent-color);
}

.modal-form-list:not(:last-child) {
  margin-bottom: 10px;
}

.modal-field-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  letter-spacing: 0.01em;
}

.modal-form-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(12px, 2px);
  color: #000000;
  transition: transform var(--duration) var(--timing-function);
}

.modal-label-checkbox {
  position: relative;
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: fit-content;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
}

.modal-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-form-checkbox-custom {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.modal-form-icon-sign {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: transform var(--duration) var(--timing-function);
}

.modal-checkbox:checked ~ .modal-form-checkbox-custom {
  opacity: 0;
}

.modal-checkbox:checked ~ .modal-form-icon-sign {
  opacity: 1;
}

.modal-checkbox:focus ~ .modal-form-checkbox-custom {
  box-shadow: 0 0 0 2px var(--accent-color);
}

.modal-checkbox:focus ~ .modal-form-icon-sign {
  box-shadow: 0 0 0 2px #000000;
}

.modal-link-agreement {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal .btn-accent {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background: var(--accent-color);
  box-shadow: none;
  transition: transform var(--duration) var(--timing-function);
}

.modal .btn-accent:hover,
.modal .btn-accent:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}
