
.advantages__container {

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: $tablet - 0.02px) {

  .advantages__item:not(:last-child) {
  margin-bottom: 30px;
  }
}

.advantages__item {

  @include cards-position(calc(100% - 30px));
  
  @media screen and (min-width: $tablet) {
    @include cards-position(calc((100% - 60px) / 2));
  }

  @media screen and (min-width: $desktop) {
    @include cards-position(calc((100% - 120px) / 4));
  }
}

.advantages__thumb {
  @include centered-flex();
  margin-bottom: 30px;
  padding: 25px 0;
  background-color: $bg-btn-additional;
}

.advantages__caption {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
  text-align: center;
  color: $title-text-color;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
}