.clients__container {
  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}

.clients__item {
  @include cards-position(calc((100% - 60px) / 2));

  @media screen and (min-width: $tablet) and (max-width: $desktop - 0.02px) {
    @include cards-position(calc((100% - 90px) / 3));
  }

  @media screen and (min-width: $desktop) {
    @include cards-position(calc((100% - 180px) / 6));
  }
}

.clients__link {
  @include centered-flex();
  padding: 16px 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color $duration $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.clients__icon {

  .clients__link:hover &,
  .clients__link:focus & {
    color: $accent-color;
  }
}