.clients__container {
  @media screen and (min-width: $desktop) {
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $title-text-color;
}

.clients__list {
  @extend %cards__list;
}

.clients__item {
  @include cards__item(calc((100% - 60px) / 2));

  @media screen and (min-width: $tablet) {
    @include cards__item(calc((100% - 90px) / 3));
  }

  @media screen and (min-width: $desktop) {
    @include cards__item(calc((100% - 180px) / 6));
  }
}

.clients__link {
  @include centered-flex();
  padding: 16px 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color $duration $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.clients__icon {

  .clients__link:hover &,
  .clients__link:focus & {
    color: $accent-color;
  }
}