  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: transform $duration $timing-function;
    z-index: 99;

    &.is-open {
      opacity: 1;
    }

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
  
  .mobile-menu__btn-menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform $duration $timing-function;
    border: none;
    background-color: transparent;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  .is-open .btn-menu__icon-menu {
  display: none;
}

.mobile-menu__icon-menu {
  color: $title-text-color;
  
  .mobile-menu__btn-menu:hover &,
  .mobile-menu__btn-menu:focus & {
    color: $accent-color;
  }
}

.btn-menu__icon-close {
  display: none;

  .is-open & {
    display: block;
  }
}

@media screen and (max-width: ($tablet - 0.02px)) {
  .navigation,
  .contact__list {
    display: none;
  }
}

