.banner {
  @include centered-flex();
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/banner.jpg');
  background-position: center;
  background-size: cover;
  background-color: $bg-secondary-color;

  .btn-accent {
    margin-top: 30px;
  }
}

.banner__container {
  @extend %container;
}

/* ---Общее для секций--- */

.title__h1 {
  max-width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.title__h2 {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: $title-text-color;
}

.title__h3 {
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $title-text-color;
}

/* ---Наши преимущества--- */
.advantages {
  padding-top: 94px;

  & .cards__list {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages__container {
  @extend %container;
}

.advantages__thumb {
  padding: 25px 0;
  margin-bottom: 30px;
  max-width: 270px;
  text-align: center;
  background-color: $bg-btn-filtr;
}

.advantages__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
}

/* ---Чем мы занимаемся--- */
.working {
  @extend %section;
  & .cards__list {
    position: relative;
  }
}

.working__container {
  @extend %container;
}

.working__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* ---Наша команда--- */
.team {
  @extend %section;
  background-color: #f5f4fa;

  .title__h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
  }

  & .cards__list {
    flex-basis: calc((100% - 120px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
  }

  .social-links__link:hover .social-links__icon,
  .social-links__link:focus .social-links__icon {
    color: #ffffff;
  }
}

.team__container {
  @extend %container;
}

.team__thumb {
  padding: 30px 32px;
}

.team__text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
}

/* ---Постоянные клиенты--- */
.clients {
  @extend %section;
  .cards__list {
    flex-basis: calc((100% - 180px) / 6);
  }

  .link {
    @include centered-flex();
    padding: 16px 0;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color $duration $timing-function;

    &:hover,
    &:focus {
      border-color: $accent-color;
    }
  }

  .link:hover .icon,
  .link:focus .icon {
    color: $accent-color;
  }
}

.clients__container {
  @extend %container;
}
