.contact {
  display: flex;
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
}

.contact__item {
  @include centered-flex();
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  @include centered-flex();
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact__icon {
  color: #757575;
  margin-right: 10px;

  .contact__link:hover &,
  .contact__link:focus & {
    color: $accent-color;
  }

  .contact__link:hover &,
  .contact__link:focus & {
    color: $accent-color;
  }
}
