.container {
  margin: 0 auto;
  padding: 60px 15px;
  width: $tablet;

  @media screen and (max-width: ($tablet - 0.02px)) {
    width: $mobile;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}