.page-footer__join {
  margin-bottom: 60px;
//   flex-basis: 206px;
//   margin-left: 70px;

//   .social-links__list {
  // }

  .social-links__item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }

  .social-links__icon {
    color: #ffffff;
  }
}

















// .page-footer__join {
//   flex-basis: 206px;
//   margin-left: 70px;

//   .social-links__list {
//     margin-top: 20px;
//   }

//   .social-links__item {
//     background-color: rgba(255, 255, 255, 0.1);
//     border-radius: 50%;
//   }

//   .social-links__icon {
//     color: #ffffff;
//   }
// }
