.page-footer__join {
  margin-bottom: 60px;

  .social-links__item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }

  .social-links__icon {
    color: #ffffff;
  }
}

@media screen and (min-width: $desktop) {

  .page-footer__join {
    margin-right: 93px;
  }
}