@import './mixins';

%section {
  padding-top: 94px;
  padding-bottom: 94px;
}

%btn {
  @include centered-flex(inline-flex);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

%cards__list {
  @include centered-flex();
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

%title-h1 {
  max-width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

%title-h2 {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: $title-text-color;
}

%title-h3 {
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $title-text-color;
}
