%container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

%list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

%link {
  text-decoration: none;
  color: inherit;
  transition: color $duration $timing-function;
}

%logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  color: $accent-color;
}
