html {
  box-sizing: border-box;
}

* {
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body {
  font-family: 'Roboto', 'arial', sans-serif;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Общие классы */

.cards {
  @include centered-flex();
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.cards__list {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.social-links__list {
  @include centered-flex();
  @extend %list;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  @include centered-flex(inline-flex);
  @extend %link;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color $duration $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    border-radius: 50%;
  }
}

.social-links__icon {
  @extend %icon;
}
