html {
  box-sizing: border-box;
}

* {
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body {
  font-family: 'Roboto', 'arial', sans-serif;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Общие классы */
.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color $duration $timing-function;
}

.icon {
  fill: currentColor;
  color: #afb1b8;
  transition: color $duration $timing-function;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: $tablet;

  @media screen and (max-width: ($tablet - 1px)) {
    width: $mobile;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: $accent-color;
}

.social-links__list {
  @include centered-flex();
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  @include centered-flex(inline-flex);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color $duration $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    border-radius: 50%;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    border-radius: 50%;
  }
}

.social-links__icon {

  .social-links__link:hover &,
  .social-links__link:focus & {
    color: #ffffff;
    }
}

