.page-footer {
  @include centered-flex(); 
  padding: 60px 0;
  background-color: $bg-secondary-color;
}
.page-footer__container {
  display: block;
  text-align: center;
}

.page-footer__footer-contact {
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact__logo {
  display: inline-block;
  margin-bottom: 20px;

  &--color {
    color: #ffffff;
  }
}

.footer-contact__map {
  color: #ffffff;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 8px;
}

.page-footer__title {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: $tablet) {

  .page-footer__container {
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 76px;
    align-items: baseline;
  }

  .page-footer__footer-contact {
    margin-right: 165px;
  }
}

@media screen and (min-width: $desktop) {

  .page-footer__container {
    flex-wrap: nowrap;
    padding-left: 15px;
  }

  .page-footer__footer-contact {
    margin-right: 70px;
    margin-bottom: 0;
  }

  .footer-contact__item {
    display: flex;
    margin-right: auto;
    
  }

  .page-footer__title {
    display: flex;
    margin-right: auto;
  }

  .footer-contact__logo {
    display: flex;
    margin-right: auto;
  }
}