.page-footer {
  padding: 60px 0;
  background-color: $bg-secondary-color;
}
.page-footer__container {
  @extend %container;
  display: flex;
  align-items: baseline;
}

.page-footer__logo {
  @extend %logo;
  display: inline-block;
  margin-bottom: 20px;

  &--color {
    color: #ffffff;
  }
}

.page-footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-contact__list {
  @extend %list;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact__link {
  @extend %link;
}

.footer-contact__map {
  color: #ffffff;
}
